html{
  margin: 0 auto;
  border: 0;
  height: 100%;  
}

.ng-invalid.ng-dirty {
  border-color:red;
} 

.ng-valid.ng-dirty {
  border-color:green;
} 

#authDiv{
  max-width: 600px;
}

.mini-logo{
  max-width: 32px;
  max-height: 32px;
}

.nav-purple{
  background-color: #673ab7;
  border: 0;
  border-radius: 0;
}
.nav-purple a,
.nav-purple ul{
  background-color: #673ab7;
}
.nav-purple a{
  color: white !important;
}
.nav-purple .navbar-toggle{
  border: 0 !important;
  margin-left: 10px !important;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus, 
.nav-purple .navbar-toggle:hover, 
.nav-purple .navbar-toggle:focus,
.nav-purple a:focus, 
.nav-purple a:hover,
.nav-purple .navbar-nav > .active > a{
  background-color: #512e90 !important;
}
.nav-purple .navbar-toggle .icon-bar{
  background-color: white !important;
}

.btn{
  margin-bottom: 10px;
}