html{
  margin: 0 auto;
  border: 0;
  height: 100%;  
}

.ng-invalid.ng-dirty {
  border-color:red;
} 

.ng-valid.ng-dirty {
  border-color:green;
} 

#authDiv{
  max-width: 600px;
}

.mini-logo{
  max-width: 32px;
  max-height: 32px;
}

.nav-purple{
  background-color: #673ab7;
  border: 0;
  border-radius: 0;
}

.btn{
  margin-bottom: 10px;
}