<div id="logoutModal" class="modal" role="dialog" aria-labelledby="logoutModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logoutModal">Confirmar Logout</h4>
      </div>
      <div class="modal-body">
         <span>Tem certeza que deseja sair?</span>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-success pull-left" ng-click="doLogout()">Sim</button>
        <button type="button" class="btn btn btn-danger pull-right" data-dismiss="modal">Não</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->