<div class="panel panel-default">
  <div class="panel-body">
	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="{'active': true}"><!--ng-repeat-->
			<a ng-click="">Item 1</a>
		</li>
	</ul>
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a ng-click="" class="thumbnail"><!--ng-repeat-->
				<img src=" 	" alt="Opção 1" title="Opção 1">
			</a>
		</div>
	</div>
  </div>
</div>

<div id="avatarDiv">	
	<button class="btn btn-lg circle-button pull-right" ng-click="">
		<i class="fa fa-eyedropper"></i>
	</button>
	<img class="avatar img-responsive center-block" src="img/avatar_female.svg" alt="Avatar" title="Avatar">
</div>

<div class="flex-footer">
	<div class="flex-item">
		<button class="btn btn-default btn-lg" ng-click="">
			Gênero
		</button>
	</div>
	<div id="avatar-share" class="flex-item">
		<button class="btn btn-primary btn-lg circle-button" ng-click="">
			<i class="fa fa-share-alt"></i>
		</button>
	</div>
	<div class="flex-item">
		<button class="btn btn-default btn-lg pull-right" ng-click="">
			Salvar
		</button>
	</div>
</div>